::selection {
    background: #6d2675;
	color: #000;
}

::-moz-selection {
	background: #6d2675;
    color: #000;
}

#searchBar {
    width: 200px;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    padding: 12px 20px;
    box-shadow: none;
    background-color: #e7e7e7;
    margin: 0 auto;
}

/* Side Bar */

#sideBar
{
	background-color: #e7e7e7;
	height: 100vh;
	overflow-y: scroll;
	padding: 20px;
}

#sideBar h2 {
	font-family: 'Overpass',Arial, Times, Serif;
	font-size: 1.75em;
	font-weight: 700;
	text-align: center;
}

.position-left.is-transition-push::after {
	box-shadow: none;
}

#closeButtonColor {
	color: #6d2675;
}

.movieThumb {
	display: block;
	margin: 0 auto;
	max-width: 100px;
}

.movieThumbCon {
	border-top: 1px solid #d5d5d5;
	padding-top: 20px;
}

.movieThumbCon:hover {
	cursor: pointer;
	background-color: #f4f4f4;
}

.movieThumbCon:first-child
{
	border-top: none;
	padding-top: none;
}

.movieThumbCon p {
	font-family: 'Overpass', Arial, Times, Serif;
	font-size: 1em;
	font-weight: 400;
	text-align: center;
	margin-bottom: 10px;
}

.movieThumbCon a {
	color: #333;
	transition: .3s ease-in-out all;
}

.movieThumbCon a:hover {
	color: #6d2675;
	border-left: 2px solid #6d2675;
	border-right: 2px solid #6d2675;
	padding: 0px 5px;
}

.movieThumbTitle {
	font-family: 'Overpass', Arial, Times, Serif;
	font-size: 1em;
	font-weight: 700;
	text-align: center;
	margin-top: 10px;
}

/* Main Section */

#con {
	height: 100vh;
	background-color: #fff;
	overflow-y: scroll;
	padding: 10px;
}

#moviesIconImg {
	max-width: 50px;
	cursor: pointer;
	transition: .3s ease-in-out all;
	margin-top: 10px;
}

#moviesIconImg:hover {
	opacity: .7;
}

.filterNav {
	margin: 0;
	padding: 10px 0px;
	text-align: center;
}

.filterNav li {
	list-style: none;
	display: inline;
}

.filterNav li a {
	color: #333;
	margin-right: 20px;
	font-family: 'Overpass', Arial, Times, Serif;
	font-size: 1em;
	font-weight: 400;
	transition: .2s ease-in-out all;
}

.filterNav li a:hover {
	color: #6d2675;
	border-bottom: 2px solid #6d2675;
}

#vidCon {
	margin-top: 60px;
}

/*-----Video Player-----*/
.flex-video
{
  margin-bottom: 0;
}

video
{
	max-width: 745px;
	margin: 0;
	padding: 0;
}

#videoContainer
{
	max-width: 745px;
	margin: 0 auto;
	padding: 0;
}

#controls
{
	background-color: #e7e7e7; 
	max-width: 745px;
	max-height: 50px;
	overflow: hidden;
}

#pausePlay {
	margin-left: 15px;
}

#pausePlay, #muteButton, #fullScreen
{
	width: 30px;
	margin-bottom: 8px;
}

#seekBar
{
	width: 60%;
	margin-right: 1%;
	margin-top: 1.5%;
}

#volumeBar
{
	width: 20%;
}

input[type=range]::-moz-range-track
{
	height: 3px;
	background: #bebebe;
	border: none;
	border-radius: 3px;
}

input[type=range]::-moz-range-thumb
{
	border: none;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: #333;
}

input[type=range]
{
	-webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track
{
	height: 10px;
	background-color: #d5d5d5;
	border: none;
	padding-bottom: 20px;
}

input[type=range]::-webkit-slider-thumb
{
	-webkit-appearance: none;
	margin-bottom: 5px;
	border: none;
	height: 20px;
	width: 10px;
	background-color: #6d2675;
}

input[type=range]:focus
{
	outline: none;
}

input[type=range]::-moz-range-thumb:hover
{
	cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover
{
	cursor: pointer;
}

#pausePlay:hover, #muteButton:hover, #fullScreen:hover
{
	cursor: pointer;
}




@media screen and (min-width: 40em) {

	#searchBar {
	    float: right;
	}

	.filterNav {
		float: right;
	}

}


@media screen and (min-width: 64em) {
}


